*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Philosopher',sans-serif;


}
body{overflow-x: hidden}
/*Nav*/


/*Nav*/
/***************************************************************Home************************************/
  /*Start Banner*/
.banner-image{
  background-image:linear-gradient(#0008,#0008), url(../images/hand.jpg);
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 26%;
  }
.banner-image h4{color: #edb8b8}
.banner-image p{color: #d7d7d7}
 a{text-decoration: none;
     color:#fff;
     padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 17px;
  padding-left: 30px;
  border-radius: 14px;
  cursor: pointer;
  color:#fff

}
 .btn1{background-color: #784f57;border: 2px solid #784f57}
 .btn2{border: 1px solid #fff;}
 nav{    height: 60px }
.btn1:hover,
nav .menu-link:hover{ background-color:#b97986;transition: all .5s;color:#fff}
.btn2:hover{ background-color:#fff;color:#784f57;transition: all .5s;font-weight: normal;}
nav .menu-link{border:.5px solid #fff;height:80%}
.banner-image span,
.banner-image h1{
  flex: 1 1 40rem;
  animation-duration: 1s;
}
@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

}
.banner-image p{ animation-duration: 1s}
@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

}
/*End Banner*/
/*Start Beauty*/

/*Start Services*/
.services{
    background-color:#0000000a;
    background-image: linear-gradient(180deg,#FFFFFF00 0%,#84848400 75%);
    height: 555px;


}
.services .s-p{color:#1a1a1a}
.services .types{background-color: #fff;height: 254px;width: 300px}
.services .types:hover {background-color: #b97986;transition: all .5s}


.services .types img{width: 30%;}
.services .types img:hover{transform: scale(1.2,1.2);transition-duration: .3s}

.services .types h4{color:#1a1a1a;font-size: 22px}

.services .types p{line-height: 25px;color:#010101}
/*End Services*/
/*Start Booking*/
.booking {
  background: linear-gradient(#0008, #0008),
    url("https://websitedemos.net/makeup-artist-02/wp-content/uploads/sites/43/2020/05/GlitterBG-free-img.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
}
.booking-text {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}
.booking h2 {
  text-align: center;
  color: #fff;
}
.booking img {
  width: 280px;
  padding: 72px;
}
.booking .solutions {
  background: linear-gradient(#0008, #0008),
    url("https://websitedemos.net/makeup-artist-02/wp-content/uploads/sites/43/2020/05/pricing-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 10px;
}
.booking .solution p{color:#cccccc21}

/*End Booking*/
/*Start info*/
.info{background-color:#0000000a;padding-top: 10%;padding-bottom: 10% }
.info .box1{background-color: #fff;  height:500px;border-radius: 7%;margin-top:60%}
.info h2,.info p {color:#da234de8}
.info .box1:hover{background-color: #c28a8a;color:#fff; transition: all .5s;}

/*End info*/

/*Start Review*/
.review .icons  a{background-color: transparent;
color: #f70077;
border: 1px solid #ad0000;
border-radius: 30%;

}
.review .rev-img{ 
  height: 126px;
  width: 16%;
  border-radius: 10%;
}
.review .title-p{color: #54595F}
/*End Review*/
/*Start Footer*/
.footer{ background: #784f57}
/*Start Footer*/
.footer {
  background: #784f57;
}
.footer-info {
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}
.footer h2 {    color: #edb8b8;font-size: 28px}
.footer h2:hover{color:#222;transition: all .3s;}
.footer-info span {
  color: #fff;
  font-weight: 400;
  font-size: 8px;
  letter-spacing: 3px;
  padding: 2px;
  width: 122px;
}
.footer-info {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
.footer-lists {
  color: #fff;
}
.footer-lists li:hover {
  color: #e9cec2;
  transition: all 0.3s;
}
.footer p {
  font-size: 15px;
  color: #fff;
}
.footer-icons {
  font-size: 29px;
}
.footer-icons i:hover {
  color: #edb8b8;
}
.footer-info .btn {
  color: #fff;
  border-radius: 7px;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 17px;
  padding-left: 30px;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
}
.footer-info form input {
  height: 61px;
  width: 377px;
}
.footer-text a {
  color: #fff;
  text-decoration: none;
}
.footer-info ul {
  list-style: none;
}

.footer h3,
hr {
  color: #fff;
}
.footer .copy-right {
  color: rgba(255, 255, 255, 0.8) !important;
  padding-left: 80px;
}
.footer .copy-right p {
  font-size: 20px;
}
.btn-footer {
  color: white;
  font-weight: bold;
  border: solid 1px #e7a3a4 !important;
  background-color: #e7a3a4;
}
/*End Footer*/

/***************************************************************Home************************************/
/**************************************************************about***********************************/
.about-me .image img {
  width: 600px;
  height: 600px;
  border-radius: 30px;
}
  .about-me a {color:#1a1a1a;}
.about-me a:hover{color: #dd5c80}
.about-me h2,.about-me h3,.about-me i{color:#dd5c80}

.about-me .image img {
  width: 600px;
  height: 600px;
  border-radius: 30px;
}
.team { background-color: #8484841c}
.team-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.team-info  h2,
.team .image1 p {color: #ad0000}

.team .image1 {
  background-color: #fff;
  height: 430px;
  width: 300px;
  text-align: center;
  border-radius: 9px;
}
.team .image1 img {
  width: 276px;
  height: 300px;
  padding: 15px;
  border-radius: 9px;
}
.team .image4 {
  background-image: linear-gradient(#00000014, #0008),
    url(https://websitedemos.net/makeup-artist-02/wp-content/uploads/sites/43/2020/05/GlitterBG-free-img.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 430px;
  width: 300px;
  border-radius: 7px 7px 7px 7px;
}
.team .image4 p{
  line-height: 2rem;
  font-size: 15px;

}

.team-info .image1::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: #fff;
  z-index: -1;
}
.team-info .image1::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.team-info .image1:hover{  height: 460px;transition: all .8s;}
.team-info .image4:hover{  height: 400px;transition: all .8s;}

/**************************************************************about***********************************/

/************************************************************* contact*********************************/
.contact{background-color: #f1f1f1;height:900px}

.contact-image{
    background-image:linear-gradient(#0008,#0008), url(../images/pexels-karolina-grabowska-4239016.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 26%;
    height: 400px;

  }

  input[type=text], select, textarea {
    width: 90%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 6px; 
    margin-bottom: 16px; 
    background-color: #cccccc21
  }
  
  .contact-info {
    border-radius: 15px;
    background-color: #fff;
    padding: 22px;
    width: 73%;
    height: 759px;
  }
  .contact-info h2{color: #b96d6d}
  .contact-info p{ color: #1a1a1a}
  .contact a{ background-color:#c88c98

  }
 
/************************************************************* contact*********************************/
.Services-image,.portfolio-image,.about-image{
        background-image:linear-gradient(#0008,#0008), url(../images/pexels-karolina-grabowska-4239016.jpg);
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 26%;
        height: 400px;
}
.collection{background-color: #cccccc21;}
.collection h2{    color: #dd5c80;
}

.about-me .image img:hover,
.portfolio img:hover,
.comparison img:hover{transform: scale(1.1);transition: all .3s;}


.offers h2{    color: #dd5c80}
.offers .images img{border-radius: 20px;}
.card{
  width: 300px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s;
}

.card-img1{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(https://websitedemos.net/makeup-artist-02/wp-content/uploads/sites/43/2021/03/nailart.jpg);
  background-size: cover;
  border-radius: 20px;
  transform: translateZ(40px);
}
.card-img2{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/skincare-face.jpeg);
  background-size: cover;
  border-radius: 20px;
  transform: translateZ(40px);
}
.card-img2{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/skincare-face.jpeg);
  background-size: cover;
  border-radius: 20px;
  transform: translateZ(40px);
}
.card-img3{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/skincare-hands.jpg);
  background-size: cover;
  border-radius: 20px;
  transform: translateZ(40px);
}
.card-img4{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/pexels-rebecca-5566050.jpg);
  background-size: cover;
  border-radius: 20px;
  transform: translateZ(40px);
}
.card-img5{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/flowers.jpg);
  background-size: cover;
  border-radius: 20px;
  transform: translateZ(40px);
}
.card-img6{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/kids.jpeg);
  background-size: cover;
  border-radius: 20px;
  transform: translateZ(40px);
}

.card-body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, -40px) rotateY(180deg);
  width: 85%;
  height: 87%;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid #fff;
}

.card:hover{
  transform: rotateY(180deg);
}

.card-body .bg{
  position: absolute;
  background: #fff;
  border-radius: 100px;
  width: 0%;
  transition: .5s;
}

.card-body .bg:nth-child(1){
  height: 25%;
  transform-origin: left;
  top: 0;
  left: -30%;
  transform: rotate(-10deg);
}

.card-body .bg:nth-child(2){
  height: 50%;
  transform-origin: right;
  top: 5%;
  right: -30%;
  transform: rotate(-10deg);
}

.card-body .bg:nth-child(3){
  height: 50%;
  transform-origin: left;
  top: 70%;
  left: -30%;
  transform: rotate(-10deg);
}

.card:hover .card-body .bg{
  width: 200%;
  transition-delay: 1s;
}

.card:hover .card-body .bg:nth-child(2){
  transition-delay: 1.5s;
}

.card:hover .card-body .bg:nth-child(3){
  transition-delay: 2s;
}

.card .content{
  position: relative;
  opacity: 0;
  transition: .5s;
  padding: 40px 10px;
  text-align: center;
  color: #dd5c80;
}

.card .title{
  font-size: 20px;
  margin-bottom: 20px;
  color: #292929;
  text-transform: uppercase;
}

.card:hover .content{
  opacity: 1;
  transition-delay: 2.5s;

}
/**Responsive********************************************/
@media screen and (max-width:700px){
  .contact{
    height:100%;
    text-align: center;
  }
  .footer form a{margin-top:15px}
  .footer .S{    padding-left: 13%;}
  .portfolio .photos{padding-left:20%}
.portfolio .photos img{padding-top:4%}
.booking a{display:block}
.info{padding-bottom:12%;padding-top:11%}
.info .box1{    margin-top: 35%}
.services{    height: 50%}
.services .types{margin-top:20px;margin-left:50px}
.banner-image,
.about-image,
.Services-image,
.portfolio-image,
.contact-image{
  background-position: left left;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 26%;
}
.banner-image{background-image:linear-gradient(#0008,#0008), url(../images/hand.jpg)}
.about-image,.Services-image,.portfolio-image,.contact-image{
  background-image:linear-gradient(#0008,#0008), url(../images/pexels-karolina-grabowska-4239016.jpg);}

}

